body 	{
	box-sizing: border-box;
	background-color: #8B4513;
	margin-top: 0px;
}

h1 {
margin-top: 5px;
margin-bottom: 5px;
font-family: "Verdana", "sans-serif";
color: #A52A2A;
font-size: 20px;
font-weight: bold;
text-align: center;
}

.slideImage {
	width: 640px;
	height: 480px;
	background-size: cover;
	margin-left: 200px;
	border-radius: 20px;
}

#container	{
	width: 1000px;
	margin: 0 auto;
	background-color: #BDB76B;
}

.header	{
	width: 1000px;
	height: 100px;
	background-color: #800000;
}


.hdrimg	{
	padding: 10px;
	float: left;
}

.nav_main	{
	color: white;
	padding-top: 65px;
	padding-left: 20px;
	float: left;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li	{
	display: inline;
	padding-right: 70px;
}

.nav_bar a	{
	font-family: "Verdana", sans-serif;
	font-size: 16px;
	color: white;
	text-decoration: none;
}

.nav_bar	a:hover {
	color: #DAA520;
	text-decoration: none;
}

.footer	{
	width: 1000px;
	height: 60px;
	color: white;
	font-family: "Verdana";
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
	background-color: #800000;
	clear: both;
}

.Sunday {
	border-style: solid;
	border-width: 2px;
	border-color: #D2691E;
	float: left;
	background-size: cover;
	width: 134px;
	height: 100px;
	margin-top: 3px;
	margin-left: 5px;
	margin-bottom: 3px;
	border-radius: 20px;
	padding-top: 20px;
	text-align: center;
	color: #D2691E;
	font-weight: bold;
	font-family: "Verdana", "sans-serif";

}

.Special1 {
	float: left;
	width: 130px;
	height: 60px;
	background-size: cover;
	background-color: white;
	opacity: .5;
	text-align: center;
	padding-top: 20px;
	font-family: "Verdana", "sans-serif";
	font-size: 12px;
	color: #ed5628;
	border-radius: 20px;
}

.hidden1 {
	visibility: hidden;
}

.Monday {
	border-style: solid;
	border-width: 2px;
	border-color: #D2691E;
	float: left;
	background-size: cover;
	width: 134px;
	height: 100px;
	margin-top: 3px;
	margin-left: 5px;
	margin-bottom: 3px;
	border-radius: 20px;
	padding-top: 20px;
	text-align: center;
	color: #D2691E;
	font-weight: bold;
	font-family: "Verdana", "sans-serif";
}

.Special2 {
	float: left;
	width: 130px;
	height: 60px;
	background-size: cover;
	background-color: white;
	opacity: .5;
	text-align: center;
	padding-top: 20px;
	font-family: "Verdana", "sans-serif";
	font-size: 12px;
	color: #ed5628;
	border-radius: 20px;
}

.hidden2 {
	visibility: hidden;
}

.Tuesday {
	border-style: solid;
	border-width: 2px;
	border-color: #D2691E;
	float: left;
	background-size: cover;
	width: 134px;
	height: 100px;
	margin-top: 3px;
	margin-left: 5px;
	margin-bottom: 3px;
	border-radius: 20px;
	padding-top: 20px;
	text-align: center;
	color: #D2691E;
	font-weight: bold;
	font-family: "Verdana", "sans-serif";
}

.Special3 {
	float: left;
	width: 130px;
	height: 60px;
	background-size: cover;
	background-color: white;
	opacity: .5;
	text-align: center;
	padding-top: 20px;
	font-family: "Verdana", "sans-serif";
	font-size: 12px;
	color: #ed5628;
	border-radius: 20px;
}

.hidden3 {
	visibility: hidden;
}

.Wednesday {
	border-style: solid;
	border-width: 2px;
	border-color: #D2691E;
	float: left;
	background-size: cover;
	width: 134px;
	height: 100px;
	margin-top: 3px;
	margin-left: 5px;
	margin-bottom: 3px;
	border-radius: 20px;
	padding-top: 20px;
	text-align: center;
	color: #D2691E;
	font-weight: bold;
	font-family: "Verdana", "sans-serif";
}

.Special4 {
	float: left;
	width: 130px;
	height: 60px;
	background-size: cover;
	background-color: white;
	opacity: .5;
	text-align: center;
	padding-top: 20px;
	font-family: "Verdana", "sans-serif";
	font-size: 12px;
	color: #ed5628;
	border-radius: 20px;
}

.hidden4 {
	visibility: hidden;
}

.Thursday {
	border-style: solid;
	border-width: 2px;
	border-color: #D2691E;
	float: left;
	background-size: cover;
	width: 134px;
	height: 100px;
	margin-top: 3px;
	margin-left: 5px;
	margin-bottom: 3px;
	border-radius: 20px;
	padding-top: 20px;
	text-align: center;
	color: #D2691E;
	font-weight: bold;
	font-family: "Verdana", "sans-serif";
}

.Special5 {
	float: left;
	width: 130px;
	height: 60px;
	background-size: cover;
	background-color: white;
	opacity: .5;
	text-align: center;
	padding-top: 20px;
	font-family: "Verdana", "sans-serif";
	font-size: 12px;
	color: #ed5628;
	border-radius: 20px;
}

.hidden5 {
	visibility: hidden;
}

.Friday {
	border-style: solid;
	border-width: 2px;
	border-color: #D2691E;
	float: left;
	background-size: cover;
	width: 134px;
	height: 100px;
	margin-top: 3px;
	margin-left: 5px;
	margin-bottom: 3px;
	border-radius: 20px;
	padding-top: 20px;
	text-align: center;
	color: #D2691E;
	font-weight: bold;
	font-family: "Verdana", "sans-serif";
}

.Special6 {
	float: left;
	width: 130px;
	height: 60px;
	background-size: cover;
	background-color: white;
	opacity: .5;
	text-align: center;
	padding-top: 20px;
	font-family: "Verdana", "sans-serif";
	font-size: 12px;
	color: #ed5628;
	border-radius: 20px;
}

.hidden6 {
	visibility: hidden;
}

.Saturday {
	border-style: solid;
	border-width: 2px;
	border-color: #D2691E;
	float: left;
	background-size: cover;
	width: 134px;
	height: 100px;
	margin-top: 3px;
	margin-left: 5px;
	margin-bottom: 3px;
	border-radius: 20px;
	padding-top: 20px;
	text-align: center;
	color: #D2691E;
	font-weight: bold;
	font-family: "Verdana", "sans-serif";
}

.Special7 {
	float: left;
	width: 130px;
	height: 60px;
	background-size: cover;
	background-color: white;
	opacity: .5;
	text-align: center;
	padding-top: 20px;
	font-family: "Verdana", "sans-serif";
	font-size: 12px;
	color: #ed5628;
	border-radius: 20px;
}

.hidden7 {
	visibility: hidden;
}